.header {
  background-color: #1a73e8;
  padding: 20px 0;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limita el ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 15px;
}

.header h1 {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Efecto de transición */
}

.nav-links a:hover {
  text-decoration: underline;
  color: #ffcc00; /* Color al pasar el ratón */
}

/* Responsividad */
@media (max-width: 768px) {
  .header-content {
      flex-direction: column; /* Apila los elementos en pantallas pequeñas */
      align-items: flex-start; /* Alinea el contenido a la izquierda */
  }
}
